$primary: #0FACF3;
$white: #fff;

#l1, #my-signin2, #l2, #rm, #news {
	font-family: "Times New Roman", Times, serif;
}

#l1 {
	color: red;
	font-style: oblique;
	font-size: 40px;
	text-align: center;
	padding: 70px 0;
}

#my-signin2 {
	display: block;
    margin: auto;
    width: 40%;
}

#l2 {
	font-size: 1.5em;
	color: $primary;
	padding: 5px
}

#rm {
	color: white;
	padding: 5px
}

#news {
	background-color: $primary;
	color: $white;
	padding: 5px;
	margin: 0 0 20px 0;
	font-size: 40px;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
}

.news-articles {
	margin: 10px 0 0 0;
	img {
		max-width: 100%;
	}
}
.news-articles:nth-child(3n+1) {
	clear: both;
}