$primary: #0FACF3;
$white: #fff;
$font: 'Lobster', cursive;

#l1, #my-signin2, #l2, #rm, #news {
	font-family: "Times New Roman", Times, serif;
}

#l1 {
	color: red;
	font-style: oblique;
	font-size: 40px;
	text-align: center;
	padding: 50px 0;
	margin-top: 150px;
	margin-left: 350px;
	width: 40%;
}

#my-signin2 {
	display: block;
    margin: auto;
    width: 40%;
}

#l2 {
	font-size: 1.5em;
	color: $primary;
	padding: 5px
}

#rm {
	color: white;
	padding: 5px
}
.nav {
	background-color: $primary;
}

#news {
	color: $white;
	font-family: $font;
	text-align: center;
}
div#news p{
 font-size: 90px;
}
div button.logout {
	margin-top: 12px;
	margin-right: 20px;
}

.container {
	margin-top: 100px;
}

.news-articles {
	margin: 10px 0 0 0;
	img {
		max-width: 100%;
	}
}
.news-articles:nth-child(3n+1) {
	clear: both;
}

.login{
	background-color: lightblue;
}